div.history-timeline {
    border-right: 3px solid #2c6596;
    overflow:visible;
    margin-bottom: 20px;
    width: 2.6em;
    float: left;
}
ul.history-panel {
    padding: 0 0 0 10px;
    line-height: 2em;
    list-style-type: none;
    width: 15em; /*TODO: Eeeeeu */
}
.id-container, .empty-id-container {
    display: inline-block;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #2c6596;
    text-align: center;
}
.id-container {
    width: 3em;
    background: #CCC;
}
.empty-id-container {
    vertical-align: top;
    width: 0.2em;
    height: 0px;
    margin: 0.5em 0 0.5em 1.6em;
}
.id-container.sel_to {
    border: 3px solid red;
    background: yellow;
}
.id-container.sel_from {
    border: 3px solid green;
}
ul.history-panel div.timeline {
    position: absolute
    border-right: 3px solid #2c6596;
}
div.history-detail {
    margin-left: 16em;
}

.inline-diff {
    font-size: 100%;
    padding: 1em;
}

/* CSS for htmldiff.py inline diff view */

/* BBB: this could be better */

.diff-head {
    padding-bottom: 1em
}

.diff-legend-label {
    border-style: solid;
    border-width: 1px;
    text-align: center
}

#diff-legend {
    position: relative;
}

#diff-table {
    float: right;
    width: 22.5em;
    text-align: left;
    padding: 0px;
    margin: 0px;
    font-size: 85%;
}

.delete {
    background-color: #ffaaaa;
    padding: 0px 2px 0px 2px;
}

.insert {
    background-color: #aaffaa;
    padding: 0px 2px 0px 2px;
}

.tagInsert {
    background-color: #007700;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    color: #ffffff
}

.tagDelete {
    background-color: #770000;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    color: #ffffff
}

/* CSS for Python 2.4 HtmlDiff classes */

.diff_header {
    background-color:#e0e0e0;
}

td.diff_header {
    text-align:right;
}
.diff_next {
    background-color:#c0c0c0;
}

.diff_add {
    background-color:#aaffaa;
}

.diff_chg {
    background-color:#ffff77;
}

.diff_sub {
    background-color:#ffaaaa;
}
