#history-dialog div.history-sidebar {
    padding: 0 0 0 1em;
    float:left;
}

#history-dialog div.history-sidebar, #history-dialog div.history-timeline ul {
    width: 14em;
}

div.history-detail {
    margin-left: 16em;
}

div.history-timeline {
    border-right: 3px solid #2c6596;
    overflow: visible;
    width: 1.6em;
}
div.history-timeline ul {
    padding: 0;
    margin: 0;
    line-height: 2em;
    list-style-type: none;
}
div.history-timeline ul li {
    margin-bottom: 3px;
}
div.history-sidebar .id-container, div.history-sidebar .empty-id-container {
    display: inline-block;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #2c6596;
    text-align: center;
}
div.history-sidebar .id-container {
    width: 3em;
    background: #CCC;
}
div.history-sidebar .empty-id-container {
    vertical-align: middle;
    width: 0.2em;
    height: 0px;
    margin: 0.5em 0 0.5em 1.6em;
}
div.history-sidebar .id-container.sel_to {
    border: 3px solid red;
    background: yellow;
}
div.history-sidebar .id-container.sel_from {
    border: 3px solid green;
}

div.history-sidebar li.date-marker {
    font-size: 0.7em;
    line-height: 1.1em;
    text-align: right;
    border-top: 1px dotted #2c6596;
    height: 1px;
}

.inline-diff {
    font-size: 100%;
    padding: 1em;
}

/* CSS for htmldiff.py inline diff view */

/* BBB: this could be better */

.diff-head {
    padding-bottom: 1em
}

.diff-legend-label {
    border-style: solid;
    border-width: 1px;
    text-align: center
}

#diff-legend {
    position: relative;
}

#diff-table {
    float: right;
    width: 22.5em;
    text-align: left;
    padding: 0px;
    margin: 0px;
    font-size: 85%;
}

.delete {
    background-color: #ffaaaa;
    padding: 0px 2px 0px 2px;
}

.insert {
    background-color: #aaffaa;
    padding: 0px 2px 0px 2px;
}

.tagInsert {
    background-color: #007700;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    color: #ffffff
}

.tagDelete {
    background-color: #770000;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    color: #ffffff
}

/* CSS for Python 2.4 HtmlDiff classes */

.diff_header {
    background-color:#e0e0e0;
}

td.diff_header {
    text-align:right;
}
.diff_next {
    background-color:#c0c0c0;
}

.diff_add {
    background-color:#aaffaa;
}

.diff_chg {
    background-color:#ffff77;
}

.diff_sub {
    background-color:#ffaaaa;
}
