/* @group CSS Reset */

/* Remove implicit browser styles to have a neutral starting point:
   - No elements should have implicit margin/padding
   - No underline by default on links (we add it explicitly in the body text)
   - When we want markers on lists, we will be explicit about it, and they render inline by default
   - Browsers are inconsistent about hX/pre/code, reset
   - Linked images should not have borders
   */

* { margin: 0; padding: 0; }
* :link,:visited { text-decoration:none }
* ul,ol { list-style:none; }
* li { display: inline; }
* h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
* a img,:link img,:visited img { border:none }
a { outline: none; }
table { border-spacing: 0; }
img { vertical-align: text-bottom; }
iframe { border-width: 0; border-style:none; }


/* @end */

#toolbar {
  margin: 10px auto;
  width: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 0;
  color: #ffffff;
  position: fixed;
  z-index: 100001;
}
#toolbar:after {
  /*
	    content: " ";
	    display: block;
	    height: 2px;
	    background: darken(@ploneColor, 20%);
        */

}
#toolbar a {
  color: #ffffff;
  text-decoration: none;
}
#toolbar ul {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
#toolbar ul li {
  list-style: none;
  list-style-image: none;
}
#toolbar ul li {
  display: inline;
  position: relative;
}
#toolbar ul li a {
  display: inline-block;
  padding: 2.5px 1%;
}
#toolbar ul li ul.dropdownItems {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
  background: #1b3d5b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  width: 300px;
  padding: 10px;
  margin-top: 1em;
}
#toolbar ul li ul.dropdownItems:before {
  content: "\0020";
  display: block;
  height: 0px;
  width: 0px;
  margin-top: -20px;
  margin-bottom: 10px;
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 11px solid #fff;
  border-top: 0;
  border-bottom-color: #1b3d5b;
}
#toolbar .container:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 10px;
  line-height: 1em;
  border-bottom: 1px solid #153047;
  background: #3272aa;
  background-image: -moz-linear-gradient(top, #3272aa, #2c6596);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #3272aa, #2c6596);
  /* IE10 */

  background-image: -o-linear-gradient(top, #3272aa, #2c6596);
  /* Opera 11.10+ */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#3272aa), to(#2c6596));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #3272aa, #2c6596);
  /* Chrome 10+, Saf5.1+ */

  background-image: linear-gradient(top, #3272aa, #2c6596);
}
#toolbar .container:first-of-type #portal-breadcrumbs {
  line-height: 1em;
}
#toolbar .container:first-of-type #portal-breadcrumbs a {
  display: inline-block;
  padding: 5px 0;
}
#toolbar .container:first-of-type #portal-breadcrumbs a:after {
  content: "/";
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#toolbar .container:first-of-type #portal-breadcrumbs span.current {
  padding: 0;
}
#toolbar .container:first-of-type div:last-child #personal-tools {
  text-align: right;
  margin-bottom: 0;
}
#toolbar .container:first-of-type div:last-child #personal-tools a {
  border: 1px solid transparent;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  padding: 5px 10px;
  text-shadow: 0 -1px 0 #214a6f;
}
#toolbar .container:first-of-type div:last-child #personal-tools a:hover {
  background: #1b3d5b;
  background-image: -moz-linear-gradient(top, #1b3d5b, #3272aa);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #1b3d5b, #3272aa);
  /* IE10 */

  background-image: -o-linear-gradient(top, #1b3d5b, #3272aa);
  /* Opera 11.10+ */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b3d5b), to(#3272aa));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #1b3d5b, #3272aa);
  /* Chrome 10+, Saf5.1+ */

  background-image: linear-gradient(top, #1b3d5b, #3272aa);
  border-bottom-color: #2c6596;
  border-right-color: #2c6596;
  border-top-color: #3272aa;
  border-left-color: #3272aa;
}
#toolbar .container:first-of-type div:last-child > div {
  text-align: right;
  padding: 5px 0;
}
#toolbar {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #387fbe;
  border-bottom: 1px solid #1b3d5b;
  background: #2c6596;
  background-image: -moz-linear-gradient(top, #2c6596, #3272aa);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #2c6596, #3272aa);
  /* IE10 */

  background-image: -o-linear-gradient(top, #2c6596, #3272aa);
  /* Opera 11.10+ */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c6596), to(#3272aa));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #2c6596, #3272aa);
  /* Chrome 10+, Saf5.1+ */

  background-image: linear-gradient(top, #2c6596, #3272aa);
  position: relative;
  z-index: -1;
}
#toolbar .container:last-of-type #document-info, #toolbar .container:last-of-type #folder-actions {
  display: inline;
}
#toolbar .container:last-of-type #document-info li a, #toolbar .container:last-of-type #folder-actions li a {
  padding-top: 27.333333333333332px;
  text-align: center;
}
#toolbar .container:last-of-type span#avail-languages {
  font-size: 10.068px;
  font-family: Verdana, sans-serif;
}
#toolbar .container:last-of-type #folder-actions {
  margin-right: 6%;
}
#toolbar .container:last-of-type #site-setup {
  text-align: right;
}
#toolbar .container:last-of-type #site-setup a {
  display: inline-block;
  padding-top: 27.333333333333332px;
  text-align: center;
}
#manage-page-close, #manage-page-open {
  margin-left: 24px;
  display: none;
}
.small #toolbar-bottom {
  display: none;
}
#toolbar {
  border-bottom: 2px solid #1b3d5b;
}

}
.portalMessage {
  position: absolute;
  left: -10000px;
}
/* Evil hacks to make the overlays work */
#exposeMask {
  position: fixed !important;
}
/* @group Overlays */
#overlay-content {
  padding: 1em 2em;
}
#overlay-content h2.pannelHeader {
  margin-top: 0;
}
#overlay-content dl dt {
  font-size: 16.296px;
}
#overlay-content dl dd {
  margin-left: 20px;
  margin-bottom: 10px;
}
/* @end */


/* @group Content pulldowns */

#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
    background-color: #75ad0a;
    color: White;
    z-index: 5;
}
#contentActionMenus dl.actionMenu.activated dd {
    border-bottom: 0.5em solid #75ad0a;
        right: -3px;
}
#contentActionMenus dl.actionMenu.activated dd a:hover,
#contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
    background-color: White !important;
    color: #666;
}
#contentActionMenus dl.actionMenu {
    line-height: 2em;
}

#folderHeader, #contextHeader {
        border-bottom: 2px solid white;
}

#contextHeader { margin-top: 5px; }


/* @end */

#contentActionMenus {
    float: right;
    background: #75ad0a;
    margin: 0;
    position: relative;
    top: -0.23em;
    right:-0.24em;
    padding: 0.1em 0.24em 0 0;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    -webkit-border-radius: 0.5em;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 0.5em;
    -moz-border-radius-topleft: 0;
}

.actionMenuContent {
    padding: 0 0.25em;
}

dl.actionMenu {
    float: right;
    white-space: nowrap;
    position: relative;
    margin-left: 0.5em;
}
dl.actionMenu a,
dl.actionMenu div {
    display: block !important;
    white-space: nowrap;
}
dl.actionMenu dt {
    font-weight: normal;
}
span.arrowDownAlternative {
    font-size: 80%;
}
dl.actionMenu.deactivated dt {
    margin: 0 0.25em;
}
dl.actionMenu.deactivated dd {
    display: none;
}
dl.actionMenu.activated dd {
    position: absolute;
    width: auto;
    min-width: 100%;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
}
dl.actionMenu.activated dt a,
dl.actionMenu.activated dd a,
dl.actionMenu.activated dd div {
    margin: 0 0.25em;
}

/* @end */
