div#structure-dialog {
    position: relative;
    overflow: hidden;
    min-height: 400px;
}

div.structure-slider {
    width: 100%;
}

div#structure-dialog .link-parent {
    display: block;
}

table.listing tbody tr.odd.error td, tr.error {
    background-color: #FFDDCC;
    border: 2px dashed red;
}

#structure-dialog #portal-breadcrumbs li {
    font-size: 180%;
    display: inline-block;
}

#structure-dialog #portal-breadcrumbs span.crumb a:after {
    content: "/";
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#structure-dialog #portal-breadcrumbs li span.current{
   font-size: 160%;
}


tr.dragging{ outline: 2px solid #FFD700; border-bottom:none; }
tr.dragging td{ border-bottom: none }
tr.dragindicator{ outline: none;}

div.overlay table.listing th.numitems{
   text-align: right;
}

div.overlay table.listing *{ 
   font-size: 100%; 
}

div.overlay #item-actions-menu{
   float:right;
}

div.overlay #item-actions-menu fieldset{
   border: 1px solid black;
   text-transform: none;
   margin: 5px;
}

div.overlay #item-actions-menu fieldset input{
   margin: 7px 0;
   padding: 4px;
   display: block;
   float:left;
   border: none;
   border-right: 1px solid black;
   background-color: gray;
   font-size: 160%;
   outline: none;
}

div.overlay #item-actions-menu fieldset input:hover{
   background-color: white;
}

div.overlay #item-actions-menu fieldset input.last{
   border-right:none;
   margin-right:10px;
}

div.overlay #item-actions-menu fieldset input.first{
   margin-left:10px;
}

div.overlay #item-actions-menu fieldset legend{
   text-transform: none;
}
