/**
 * CSS rules for the parts of the page that are embedded in the main content
 */

/* @group Reset */

.cmsui-reset,
.cmsui-reset * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    line-height: 1;
}

/* @end */

/* @group Menu */

#cmsui-menu-wrapper {
}

#cmsui-menu {
    position: fixed;
    width: 100%;
    height: 0;
    z-index: 9999;
}

/* @end */

/* @group Overlay windows */

/* styling for overlays (popups) */

#cmsui-overlay-mask {
    position: absolute;
    min-width: 100%;
    background-color: rgba(255,255,255,0.4);
    z-index:9998;
}

#cmsui-overlay-wrapper {
    margin: 30px auto;
    width: 960px;
    background-color: white;
    border: 1px solid #999;
    box-shadow: 0 0 3em 0.5em #666;
    -moz-box-shadow: 0 0 3em 0.5em #666;
    -webkit-box-shadow: 0 0 3em #666;
    padding: 20px;
}

#cmsui-overlay {
    width: 100%;
}

/* default close button positioned on upper-left corner */
#cmsui-overlay-close {
    background-image: url(../pb_close.png);
    position: absolute;
    margin-left: -34px;
    margin-top: -34px;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

#cmsui-overlay-close span {
    display: block;
    height: 1px;
    margin: -1px 0 0 -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

/* @end */